### format_for_list

In [2]:
s='{} {} {}'
f= s.format('대건','윤기','찬빈')
print(f)

대건 윤기 찬빈

In [3]:
s='{}이는 {}와 {}를 좋아한다'
f= s.format('대건','윤기','찬빈')
print(f)

대건이는 윤기와 찬빈를 좋아한다

In [4]:
s='{}이는 {}번이고 {} 진학했다'
f= s.format('대건',30312,'인천대학교')
print(f)

대건이는 30312번이고 인천대학교 진학했다

In [6]:
name ='석찬'
num = 30103
add = '인천시 연수구'
s='{}이는 {}번이고 {} 에 살고 있다'
f= s.format(name,num,add)
print(f)

석찬이는 30103번이고 인천시 연수구 에 살고 있다

In [8]:
name = input("이름 입력")
num = input('학번 입력')
add = input("주소 입력")
s='{}이는 {}번이고 {} 에 살고 있다'
f= s.format(name,num,add)
print(f)

이름입력정호현
학번 입력30316
주소 입력인천시 연수구 옥련동
정호현이는 30316번이고 인천시 연수구 옥련동 에 살고 있다

In [13]:
stu = input("이름 학번 주소 입력").split()

이름 학번 주소 입력대범 30305 인천시연수구

In [15]:
stu

['대범', '30305', '인천시연수구']

In [16]:
stu[0],stu[1]

('대범', '30305')

In [17]:
s = input("이름 입력")

s='{}이는 {}번이고 {} 에 살고 있다'
f= s.format(name,num,add)
print(f)

이름 입력##
정호현이는 30316번이고 인천시 연수구 옥련동 에 살고 있다

### [문제1]다음과 같은 양식으로 입력받아 출력하기
-햄버거/2/4 입력하면
-햄버거 2개 값은 8달라

In [2]:
a = input("음식 갯수 가격").split('/')
a[1] = int(a[1])
a[2] = int(a[2])

b='햄버거 {}개 값은 {}달라'
c=b.format(a[1],a[1]*a[2])
print(c)

음식 갯수 가격햄버거/2/4
햄버거 2개 값은 8달라

In [5]:
info='%d %s %f'
pr =info%(1,'잉',0.1)
print(pr)

1 잉 0.100000

In [8]:
info='%d년도 %s여고 %0.2f퍼센트'
pr =info%(1,'인천',0.1)
print(pr)

1년도 인천여고 0.10퍼센트

### [문제2] 햄버거 2개는 8달라이다.
- '햄버거'
- 2
- 2*4

In [12]:
a = ('%s는 %d개 %d달라입니다')
b = a%('햄버거',2,2*4)
print(b)

햄버거는 2개 8달라입니다

### list

In [15]:
arr=[1,2,3,4,5]
arr

[1, 2, 3, 4, 5]

In [35]:
arr=['성곤','대건','대범','호정']
arr

['성곤', '대건', '대범', '호정']

In [36]:
arr[1]

'대건'

In [26]:
len(arr)

1

In [29]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [30]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [38]:
for i in arr :
    print(i)

성곤
대건
대범
호정

In [94]:
for i in range(len(arr)) :
    print(arr[i])

성곤
대건
대범
호정

In [95]:
for i,a in enumerate(arr) :
    print(arr[i])

성곤
대건
대범
호정

In [98]:
for i,a in enumerate(arr) :
    print(i+1,'번',a)

1 번 성곤
2 번 대건
3 번 대범
4 번 호정

### [문제1]30부터 50가지 출력 해보기

In [101]:
for i in range(30,51) :
    print(i)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

### [문제2]30부터 50까지 중에서 홀수만 출력해보기

In [117]:
for i in range(30,50) :
    if i%2!=0 :
        print(i)

31
33
35
37
39
41
43
45
47
49

### [문제3] 30 부터 50까지 중에서 홀수만 더해서 sum에 넣고 출력

In [154]:
sum=0
for i in range(30,50) :
    if i%2!=0 :
        print(i)    
        sum=sum+i
print('홀수 합의 값',sum)

31
33
35
37
39
41
43
45
47
49
홀수 합의 값 400

### [문제4]
- 1부터 10까지 중에서
- 짝수이면 파이썬
- 홀수이면 야 너도 할수있어 출력

In [188]:
for i in range(1,11):
        if i%2!=0:
            print(i,'야 너도 할수있어')
        else :
                 print(i,'파이썬')

1 야 너도 할수있어
2 파이썬
3 야 너도 할수있어
4 파이썬
5 야 너도 할수있어
6 파이썬
7 야 너도 할수있어
8 파이썬
9 야 너도 할수있어
10 파이썬